$blanco: #F5F5F0;
$beige: #E6D8C3;
$marron: #C2A68C; // Marrón original para textos
$verde: #5D866C;
$verdeHeader: #c3e6c8;

$fuenteTitulos: "Playfair Display", serif;
$fuenteParrafos: "Andada Pro", serif;